<h1>All our Flats</h1>

<p>All <%= @flats.length %> flats.</p>

<div class="d-flex flex-md-row">
  <% @flats.each do |flat| %>
    <div class="flat-card p-2">
      <div class="flat-img"><img style="width:100%;" src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?w=300" alt=""></div>
      <div class="flat-card-content">
        <div class="flat-card-title"><h4><%= flat.name %></h4></div>
        <p><%= flat.description %></p>
        <div class="d-flex">
        <div class="d-flex"><%= flat.price_per_night %>€</div>
        <div class="d-flex ms-3"><%= flat.number_of_guests %></div>
        </div>
        <%= link_to "More info", flat_path(flat) %> | <%= link_to 'Edit', edit_flat_path(flat) %> | <%= link_to "Delete",
                flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
